<!DOCTYPE html>
<html>
  <head>
    <title>SprintRabbit HTTP-Api</title>
  </head>
  <body>
    <h1>This is the SprintRabbit API</h1>
    <p>If you don't know whats going on right now, go back to <a href="https://www.google.de">safety</a>.</p>
    <p>If you do: Hi, welcome. Try <a href="/user/">getting all users</a> to start.</p>
  </body>
</html>
